<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2>All students</h2>
    </div>


    <div class="row" *ngIf="students.data">
      <table class="table table-hover">
        <tr>
          <th scope="col"> Name </th>
          <th scope="col"> First Name </th>
          <th scope="col"> created at </th>
          <th scope="col"> courses </th>
          <th scope="col"> options </th>
        </tr>
        <tr *ngFor="let student of students.data">
          <td> {{ student.attributes.name }}</td>
          <td>{{ student.attributes.field_fist_name|slice:0:150 }}</td>
          <td> {{ toReadableTime(student.attributes.created) }} </td>
          <td>
            <ul>
              <li *ngFor="let course of student.relationships.field_courses.data">{{getCoure(course.id)}}</li>
            </ul>
          </td>
          <td> <i class="material-icons" (click)="delete(student.attributes.uuid)"> delete_forever </i> </td>
        </tr>
      </table>
    </div>
  </div>




  <div *ngIf="!students">
    <h1> there was a huge error</h1>
    <em>or just no students yet, please wait until te request is completed</em>
  </div>
</div>
