<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <!-- <img src="https://image.ibb.co/m2xLDn/tyrannosaurus_1.png" alt="logo" class="logo-header" border="0">  -->

      Drupal8 briavers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">


        <li class="nav-item">
          <a class="nav-link" href="/"> Students  </a>
        </li>
        

        <li class="nav-item">
          <a class="nav-link" href="/courses"> courses  </a>
        </li>
        

        <li class="nav-item">
          <a class="nav-link" href="/lectors"> lectors  </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/login" *ngIf="!loggedIn">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" *ngIf="loggedIn"  (click)="logout($event)"> logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/backOffice" *ngIf="loggedIn"> backoffice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/student/create" *ngIf="loggedIn"> create student</a>
        </li>

      </ul>
    </div>
  </div>
</nav>